body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    padding: 80px
}

header {
    width: 100vw;
    display: block;
    float: left;
}

#logo-clothy {
    width: 154px;
    margin: auto;
    float: left;
    ;
}

.logo-Clothy-container {
    margin: 65px 130px;
   display: flex;
   justify-content: space-between;
}

.logo-Clothy-container nav {
    font-family: "Roboto", sans-serif;
    margin: auto 60px;
    float: left;
    line-height: 55px;
}

.logo-Clothy-container nav a {
    text-decoration: none;
    margin-right: 20px;
    color: #274c5b;
    font-weight: 700;
}

#right-menu {
    display: flex;
    gap: 1.6rem;
    flex-direction: row;
    align-items: center;
   
}

.left-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#recherche {
    width: 2.5rem;
    height: 2.5rem;
}
#Cart {
    width: 2rem;
}
.panier{
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    border-radius: 40px;
    align-items: center;
    padding: 0.2rem;
    width: 6rem;
    height: 2rem;
}

#banner-image {
    width: 100%;
    position: relative;
}
#titre{
    color: white;
    position: absolute;
    right: 46%;
    top: 38%;
    font-size: xx-large;
}
main {
    width: 1015px;
    margin: auto 260px;
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}
.price{
    display: flex;
    gap: 0.7rem;
    padding: 10px;
    justify-content: center;
    margin-right: 7.8rem;
    margin-top: -5px;
    
}
.myDesc {
    display: flex;
}

.img {
    width: 25%;
    display: flex;
    flex-direction: column;
    position: absolute;
}
#produit-img{
    margin: 13px;
    height: 28rem;
    Width: 37%;
    padding: 2px;
    display: flex;
    
}

.myDesc {
    display: flex;

}

.bottom_banner {
    max-width: 830px;
    display: flex;
    margin: auto;
    background: url("https://res.cloudinary.com/dtrvdcebd/image/upload/v1708266045/Clothy/l04wim0gq4l6c3rk5p32.jpg") no-repeat;
    background-size: cover;
    min-height: 180px;
    padding: 50px 90px;
    border-radius: 30px;
    margin-bottom: 30px;
}

.bottom_banner h1 {
    color: #fff;
    flex: 3;
    font-size: 42px;
    text-shadow: 0 0 2px #000;
}

.bottom_banner form {
    flex: 2;
    margin-top: 60px;
}

.bottom_banner form input[type="email"] {
    width: 190px;
    border: none;
    line-height: 30px;
    border-radius: 5px;
    float: left;
    margin-right: 5px;
    padding: 5px;
    ;
}

.bottom_banner form input[type="submit"] {
    width: 110px;
    line-height: 30px;
    float: left;
    border: none;
    background-color: #274c5b;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    ;
}





#footer-image {
    width: 100%;
    border-radius: 20px;
}

#footer-image2 {
    width: 120px;
    display: block;
    margin: auto;
}

.footer-menu {
    display: flex;
    width: 1050px;
    margin: auto;
}

.footer_contact {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    text-align: right;
    display: grid;
    justify-items: start;
    justify-content: end;
}


.footer_social {
    flex: 3;
    border-left: 1px solid #b8b8b8;
    border-right: 1px solid #b8b8b8;
    padding: 30px;
}
.footer_social p {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    line-height: 18px;;
    width: 25rem
}
.footer_utility {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    text-align: left;
    
}


#insta-logo {
    width: 2rem;
}

#fb-logo {
    width: 2rem;
}

#twiter-logo {
    width: 2rem;
}

#pen-logo {
    width: 2rem;
}

.social {
    display: flex;
    justify-content: center;
    gap: 20px;
}



/*=========================shop=============================*/
main {
    margin: 50px auto;
}

.shop_item {
    display: flex;
    padding: 16px 28px;
    min-height: 200px;
    background-color: #f9f8f8;
    border-radius: 30px;
    width: 13rem;
}

.product_image_container {
    width: 99%;
    font-size: 16px;
    color: #274c5b;
    text-align: left;
}


.shop_item div.top {
    width: 100%;
    margin-bottom: 10px;
    float: left;
}

.shop_item .elementCategory {
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    border-radius: 10px;
    color: #fff;
    background-color: #274c5b;
    margin-right: 5px;
    margin-top: 12px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    max-width: 100px;
}

.shop_item .buyElementBtn {
    float: right;
}

.shop_item .buyElementBtn img {
    width: 36px;
}

.shop_item h6 {
    width: 100%;
    font-size: 15px;
    color: #274c5b;
    text-align: left;}

.shop_item h6 a,
.shop_item h6 a:visited,
.shop_item h6 a:link {
    text-decoration: none;
    color: #274c5b;
}

.shop_item .prices {
    color: #274c5b;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    width: 4rem;
}

.shop_item .offprice {
    text-decoration: line-through;
    color: #b8b8b8;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.shop_item .price {

    color: #274c5b;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.shop_item stars{
    padding: initial;
    margin: 0rem;
    width: 6rem;
}
.element-link{
    text-decoration: none;
}
.product_image{
    height: 12rem;
    width: 10rem;
  
}

.stars{
    width: 4rem;
}
.p-r{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
}